body {
  background: url("background.jpg") no-repeat center center fixed;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  margin-top: 10vh;
  font-size: xx-large;
  color: white;
}

#description {
  font-style: italic;
  font-size: large;
  color: coral;
}

#question {
  margin-top: 8vh;
  margin-bottom: 20px;
  font-size: large;
  color: wheat;
}

#questionImg {
  width: 50vh;
  opacity: 0.6;
  animation: fadein 2s ease-in;
  box-shadow: 0 0 10px #d8d8d8;
  transition: 0.5s ease all;
}

.questionImg {
  filter: grayscale(100%);
}

.correctImg {
  filter: grayscale(0%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.multiple-submit {
  background-color: lightslategray;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 50vh;
  text-align: center;
  margin-top: 40px;
  color: white;
  font-size: large;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}

#answers {
  margin-top: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkred;
  cursor: pointer;
  width: 50vh;
  text-align: center;
  margin-top: 10px;
  color: white;
  border-radius: 10px;
  font-size: large;
  transition: 0.5s ease all;
  box-shadow: 0 0 10px #d8d8d8;
}

.answer:hover {
  background: whitesmoke !important;
  color: black;
  transform: scale(1.1);
}

.chosenAnswer,
.chosenAnswer:hover {
  background: orange !important;
}

.correctAnswer {
  background-color: lightgreen !important;
}

.wrongAnswer {
  background: coral !important;
}

#score {
  margin-top: 20px;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: lightpink;
}

#resultImg {
  width: 50vh;
}

#resultTitle,
#resultDescription {
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
  color: aliceblue;
}

#restart {
  font-size: xx-large;
  color: blanchedalmond;
  cursor: pointer;
  display: none;
  background: darkred;
  width: fit-content;
  margin: 10vh auto;
  border-radius: 10px;
  padding: 10px;
}

#questionsLeft {
  font-size: xx-large;
  color: blanchedalmond;
  cursor: pointer;
  margin-top: 40px;
}

#mute,
#unmute {
  width: 10vh;
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}

#mute {
  display: none;
}

img {
  border-radius: 10px;
}
